.education__logo{
    width:20vmin;
    height:20vmin;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 4px -1px #000;
}

.education__logo:hover{
    filter: drop-shadow(3px 3px 6px #000);
}

.education__logo--one{
     background: var(--bkg-color-ligth) url("../../assets/image/oracle-logo.png") center /cover no-repeat scroll padding-box border-box;
}
.education__logo--uaem{
    background: var(--bkg-color-ligth) url("../../assets/image/uaem-logo.png") center /cover no-repeat scroll padding-box border-box;
}
.education__logo--cecytem{
    background: var(--bkg-color-ligth) url("../../assets/image/cecytem-logo.png") center /cover no-repeat scroll padding-box border-box;
}