.education__logo{
    width:30vmin;
    height:30vmin;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 3px 1px #000;
}

.education__logo--one{
     background: #fff url("../../assets/image/oracle-logo.png") center /cover no-repeat scroll padding-box border-box;
}
.education__logo--uaem{
    background: #fff url("../../assets/image/uaem-logo.png") center /cover no-repeat scroll padding-box border-box;
}
.education__logo--cecytem{
    background: #fff url("../../assets/image/cecytem-logo.png") center /cover no-repeat scroll padding-box border-box;
}