.filing{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.filing--variant{
    color: var(--txt-color-dark);
}

@media screen and (max-width:480px) {
    .filing--variant{
        flex-direction: column-reverse;
    }
}