.filing__image{
    width: 200px;
    clip-path: circle(40% at 50% 40%);
    order:5;
}

/* .filing__image{
    order:5;
    width: 200px;
    height: 200px;
    clip-path: circle(50% at 50% 50%);
    background:  url("../../assets/image/edgar.png") top center /cover;
} */