.experience__link{
    display: inline-block;
    width: 10rem;
    padding: 1rem;
    background: var(--bkg-color-dark);
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--txt-color-ligth);

}

.experience__link:hover{
    box-shadow:2px 2px 4px -1px #000;
}