.experience__project{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience__project--child:nth-child(even){
    flex-direction: row-reverse;
}

@media screen and (max-width:780px) {
    .experience__project--child:nth-child(n){
        flex-direction: column; 
        align-items: center;
        justify-content: stretch;
    }
}