.contact__input{
    order: 2;
    width: 100%;
    line-height: 2rem;
    font-size: 1rem;
    color: var(--txt-color-ligth);
    outline: none;
    border-bottom: 2px solid var(--txt-color-ligth);
    background: #ffffff00;
    padding: 10px;
    padding-bottom: 0;
}

.contact__input::placeholder{
    visibility: hidden;
    background: #ffffff00;
    color: #00000000;
}
.contact__input:not(:placeholder-shown) + .contact__label,
.contact__input:focus + .contact__label{
    transform: translateY(.2rem);
    font-size: 0.7rem;
    font-weight: bold;
    transition: all .25s;
}

.contact__input--invalid{
    border: 3px solid red;
}