.contact__input--message{
    order: 2;
    width: 100%;
    resize: none;
    outline: none;
    background: #ffffff00;
    border: 2px solid var(--txt-color-ligth);
    padding: 15px;
    font-size: 1.2rem;
    color: var(--txt-color-ligth);
}

.contact__input--invalid{
    border: 3px solid red;
}