.contact__image{
    flex-shrink: 4;
    height: 40vmax;
    width: 40vmax;
    background: #fff url("../../assets/image/email.png") center /cover no-repeat;
    clip-path: inset(10% round 20%);
    border-radius: 20%;
    filter: hue-rotate(170deg) grayscale(.8);
}