.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 30px;
}
.contact--variant{
    color: var(--txt-color-black);
    font-size: 2rem;
}

@media screen and (max-width:780px) {
    .contact{
        display: block;
    }
    .contact__image--variant{
        display: none;
    }
}