.input__message{
    background: #00000000;
    color:var(--txt-color-ligth);
    resize: none;
    outline: none;
    font-size: 1.2rem;
    border: 2px inset var(--txt-color-ligth);
    padding: 10px;
}

.input__message::placeholder{
    color: var(--txt-color-ligth);
}