.input{
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 10px;
    border-bottom:1px solid var(--txt-color-ligth);
    outline: none;
    box-sizing: border-box;
    background-color: #00000000;
    color: var(--txt-color-ligth);
    z-index: 5;
    order: 2;
}

.input::placeholder {
    visibility: hidden;
  }