.head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vmin;
    padding: 10px;
    position:sticky;
    top: 0;
    z-index: 10;
}
.head--variant{
    filter:opacity(0.95);
    background: var(--bkg-color-dark);
    color: var(--txt-color-ligth);
}