.main{
    display: flex;
    flex-direction: column;
}

.main__container:nth-child(even){
    background-color: var(--bkg-color-dark);
}
.main__container:nth-child(odd){
    background-color: var(--bkg-color-ligth);
}